ul.social-network{
  list-style: none;
  padding: 0;
}

ul.social-network li{
  display: inline;
  margin: 0;
  padding: 5px;
}

.fa{
  font-size: 20pt;
  color: white;
  padding: 10px;
}
.fa-facebook-square:hover{
  color: #141f36;
}

.fa-instagram:hover{
  color: #240a18;
}

.fa-linkedin-square:hover{
  color: #001927;
}
