<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item">
          <img src="https://i.pinimg.com/originals/55/44/2f/55442f2018fd5e2781c732f90f1f7756.jpg" alt="IMAGEM USER"
            width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item p-lg-3">
          <p class="m-0 font-weight-bold text-secondary">Nome do Usuario</p>
        </li>
        <li class="nav-item pl-3">
          <a href="">
            <p class="text-secondary fs-16 m-0"><i class="fa fa-pencil-square-o " aria-hidden="true"></i>
            </p>
          </a>

        </li>
      </ul>

      <ul class="navbar-nav m-xl-0 d-flex align-items-center">
        <li class="nav-item pl-3 justify-content-end ">
          <button type="button" class="btn btn-secondary font-weight-bold">
            Sair <i class="fas fa-sign-out-alt"></i>

          </button>
        </li>
      </ul>

    </div>
  </div>
</nav>
