#img-bg {
  background-image: url(../../assets/img/fakurian-design-cZIdV0OvjcY-unsplash.jpg);

  min-height: 695px;
  border-bottom-right-radius: 100px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


#box:hover{
  background-color: darkolivegreen;
  border-radius: 50%;
}
