#img-bg{
  background-image: url(../../assets/img/kara-eads-WKfq1fm4gkU-unsplash.jpg);
  min-height: 695px;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.temporizador:hover {
  color :#21a110 ;
  transition-duration: 1s;
}
